::-webkit-scrollbar {
  display: none; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000; }
  html p, html h1, html h2,
  body p,
  body h1,
  body h2 {
    font-family: sans-serif;
    color: #fff; }
  html .eyes,
  body .eyes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 50%;
    float: left;
    max-height: 50vmin; }
    html .eyes.spacer,
    body .eyes.spacer {
      height: 20%; }
    html .eyes .eye,
    body .eyes .eye {
      width: 25vmin;
      height: 25vmin;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f00; }
      html .eyes .eye.hid,
      body .eyes .eye.hid {
        opacity: 0;
        visibility: hidden; }
      html .eyes .eye.eye:nth-child(3),
      body .eyes .eye.eye:nth-child(3) {
        transform: scaleX(-1); }
        html .eyes .eye.eye:nth-child(3) .inner,
        body .eyes .eye.eye:nth-child(3) .inner {
          transform: scaleX(-1); }
      html .eyes .eye .lid,
      body .eyes .eye .lid {
        position: absolute;
        left: -2vmin;
        width: 32vmin;
        height: 32vmin;
        animation-name: lid;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        background-image: url(assets/lid.svg);
        background-position: center;
        background-size: cover; }
      html .eyes .eye .inner,
      body .eyes .eye .inner {
        width: 50%;
        height: 50%; }
        html .eyes .eye .inner .pup,
        body .eyes .eye .inner .pup {
          background-color: #000;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          animation-name: pup;
          animation-duration: 20s;
          animation-iteration-count: infinite; }
  html .content-wrap,
  body .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    html .content-wrap .content,
    body .content-wrap .content {
      width: 100%;
      max-width: 1280px;
      padding: 4vmin;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-direction: column; }
      html .content-wrap .content.mute,
      body .content-wrap .content.mute {
        height: 50%; }
        html .content-wrap .content.mute h1,
        body .content-wrap .content.mute h1 {
          display: flex;
          font-size: 10vmin;
          position: relative;
          font-family: sans-serif;
          white-space: nowrap;
          font-weight: bold;
          animation: txt 6s infinite; }
          html .content-wrap .content.mute h1:before, html .content-wrap .content.mute h1:after,
          body .content-wrap .content.mute h1:before,
          body .content-wrap .content.mute h1:after {
            content: attr(data);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black; }
          html .content-wrap .content.mute h1:before,
          body .content-wrap .content.mute h1:before {
            left: 4px;
            text-shadow: -2px 0 #0ff;
            animation: glitch2 3s infinite linear alternate-reverse; }
          html .content-wrap .content.mute h1::after,
          body .content-wrap .content.mute h1::after {
            left: -4px;
            text-shadow: -2px 0 #f0f;
            animation: glitch1 2.5s infinite linear alternate-reverse; }
      html .content-wrap .content .title,
      body .content-wrap .content .title {
        width: 100%;
        border-bottom: solid 5px #fff; }
        html .content-wrap .content .title h2,
        body .content-wrap .content .title h2 {
          font-size: 6vmin;
          margin: 4vmin 0; }
      html .content-wrap .content p,
      body .content-wrap .content p {
        font-size: 3vmin;
        margin: 4vmin 0; }
      html .content-wrap .content .contact,
      body .content-wrap .content .contact {
        width: 10vmin;
        height: 10vmin;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.2s ease;
        margin: 4vmin; }
        html .content-wrap .content .contact.mail,
        body .content-wrap .content .contact.mail {
          background-image: url("assets/icons/mail.svg"); }
        html .content-wrap .content .contact:hover,
        body .content-wrap .content .contact:hover {
          transform: scale(1.1); }

@keyframes eyeload {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes lid {
  0% {
    transform: translate(0vmin, 0vmin) rotate(0deg); }
  3% {
    transform: translate(4vmin, -17vmin) rotate(25deg); }
  15% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  30% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  35% {
    transform: translate(4vmin, -14vmin) rotate(25deg); }
  40% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  60% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  65% {
    transform: translate(4vmin, -14vmin) rotate(25deg); }
  99% {
    transform: translate(4vmin, -15vmin) rotate(25deg); }
  100% {
    transform: translate(0vmin, 0vmin) rotate(0deg); } }

@keyframes pup {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(0, 0); }
  27% {
    transform: translate(3vmin, 0); }
  50% {
    transform: translate(3vmin, 0); }
  52% {
    transform: translate(0, 0); }
  75% {
    transform: translate(0, 0); }
  77% {
    transform: translate(-3vmin, 0); }
  95% {
    transform: translate(-3vmin, 0); }
  96% {
    transform: translate(3vmin, 0); }
  100% {
    transform: translate(3vmin, 0); } }

@keyframes glitch1 {
  4% {
    clip: rect(95px, 9999px, 33px, 0); }
  8% {
    clip: rect(32px, 9999px, 121px, 0); }
  12% {
    clip: rect(5px, 9999px, 125px, 0); }
  16% {
    clip: rect(45px, 9999px, 56px, 0); }
  20% {
    clip: rect(51px, 9999px, 140px, 0); }
  24% {
    clip: rect(48px, 9999px, 63px, 0); }
  28% {
    clip: rect(13px, 9999px, 30px, 0); }
  32% {
    clip: rect(47px, 9999px, 7px, 0); }
  36% {
    clip: rect(104px, 9999px, 110px, 0); }
  40% {
    clip: rect(35px, 9999px, 30px, 0); }
  44% {
    clip: rect(9px, 9999px, 29px, 0); }
  48% {
    clip: rect(1px, 9999px, 18px, 0); }
  52% {
    clip: rect(10px, 9999px, 88px, 0); }
  56% {
    clip: rect(79px, 9999px, 32px, 0); }
  60% {
    clip: rect(148px, 9999px, 38px, 0); }
  64% {
    clip: rect(142px, 9999px, 13px, 0); }
  68% {
    clip: rect(27px, 9999px, 85px, 0); }
  72% {
    clip: rect(141px, 9999px, 38px, 0); }
  76% {
    clip: rect(67px, 9999px, 146px, 0); }
  80% {
    clip: rect(54px, 9999px, 9px, 0); }
  84% {
    clip: rect(124px, 9999px, 70px, 0); }
  88% {
    clip: rect(126px, 9999px, 150px, 0); }
  92% {
    clip: rect(107px, 9999px, 61px, 0); }
  96% {
    clip: rect(41px, 9999px, 62px, 0); } }

@keyframes glitch1 {
  4% {
    clip: rect(6px, 9999px, 135px, 0); }
  8% {
    clip: rect(82px, 9999px, 150px, 0); }
  12% {
    clip: rect(121px, 9999px, 108px, 0); }
  16% {
    clip: rect(54px, 9999px, 118px, 0); }
  20% {
    clip: rect(36px, 9999px, 133px, 0); }
  24% {
    clip: rect(71px, 9999px, 28px, 0); }
  28% {
    clip: rect(43px, 9999px, 39px, 0); }
  32% {
    clip: rect(123px, 9999px, 13px, 0); }
  36% {
    clip: rect(11px, 9999px, 108px, 0); }
  40% {
    clip: rect(88px, 9999px, 21px, 0); }
  44% {
    clip: rect(38px, 9999px, 123px, 0); }
  48% {
    clip: rect(29px, 9999px, 5px, 0); }
  52% {
    clip: rect(53px, 9999px, 60px, 0); }
  56% {
    clip: rect(81px, 9999px, 146px, 0); }
  60% {
    clip: rect(61px, 9999px, 23px, 0); }
  64% {
    clip: rect(5px, 9999px, 82px, 0); }
  68% {
    clip: rect(27px, 9999px, 35px, 0); }
  72% {
    clip: rect(28px, 9999px, 135px, 0); }
  76% {
    clip: rect(47px, 9999px, 16px, 0); }
  80% {
    clip: rect(10px, 9999px, 141px, 0); }
  84% {
    clip: rect(148px, 9999px, 99px, 0); }
  88% {
    clip: rect(120px, 9999px, 87px, 0); }
  92% {
    clip: rect(49px, 9999px, 47px, 0); }
  96% {
    clip: rect(20px, 9999px, 121px, 0); } }

@keyframes txt {
  4% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  8% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  12% {
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase; }
  16% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  20% {
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase; }
  24% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  28% {
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase; }
  32% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  36% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  40% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  44% {
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase; }
  48% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  52% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  56% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  60% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  64% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  68% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  72% {
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase; }
  76% {
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase; }
  80% {
    font-style: normal;
    text-decoration: underline;
    text-transform: none; }
  84% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  88% {
    font-style: italic;
    text-decoration: none;
    text-transform: none; }
  92% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; }
  96% {
    font-style: normal;
    text-decoration: none;
    text-transform: none; } }
